<div class="topbar-right">
    <div class="searchbar">
        <input type="text" class="searchbar-input" placeholder="Recherche">
        <div class="searchbar-action"><img width="20px" height="20px" src="./assets/images/icon-search.svg"
                alt="search"></div>
    </div>

    <div class="account">
        <div class="account-figure"><span class="figure-text">G.L</span></div>
        <div class="account-text">
            <p class="account-name">Gaëtan Lavit</p>
            <p class="account-role">Administrateur</p>
        </div>
        <div class="account-action"><img (click)="logout()" width="24px" height="24px"
                src="./assets/images/icon-logout.svg" alt="logout"></div>
    </div>
</div>